p Hello Applicant.
| The new position is added on our platform. This position is quite suitable for your interests.
|Here is a short description of the new position
br
strong Category:
|   #{category}
br
strong Level:
|   #{level}
br
strong Company:
|   #{company}
br
strong Description:
|   #{description}
br
strong Japanese language:
|   #{japaneseRequired}






