p Hello Applicant.
| One of the positions that you were interested in was removed on our platform.
|Here is a short description of the removed position
br
strong Category:
|   #{category}
br
strong Level:
|   #{level}
br
strong Company:
|   #{company}
br
strong Description:
|   #{description}
br
strong Japanese language:
|   #{japaneseRequired}
